<nav
  class="navbar navbar-expand-lg navbar-light fixed-top"
  style="background-color: white"
>
  <div class="container">
    <a class="navbar-brand mr-5" href="#">SG</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'home' }"
        >
          <a class="nav-link" href="#home">Home </a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'experience' }"
        >
          <a class="nav-link" href="#experience">About</a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'services' }"
        >
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'projects' }"
        >
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'skills' }"
        >
          <a class="nav-link" href="#skills">Testimonial</a>
        </li>
        <li
          class="nav-item"
          [ngClass]="{ 'active-link': activeSection === 'resume' }"
        >
          <a class="nav-link" href="#resume">Resume</a>
        </li>
      </ul>
    </div>

    <div class="tools">
      <a class="" title="Click to Contact me." (click)="openContactModal()"
        ><mat-icon> contacts</mat-icon></a
      >
    </div>
    <!-- Modal for Contact -->
    <app-contact-modal
      *ngIf="showContactModal"
      (closeModal)="closeContactModal()"
    ></app-contact-modal>
  </div>
</nav>
