<!-- Inside your component's HTML template -->
<section id="home">
    <div class="home-container">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2>Full Stack Web-Developer</h2>
            <p>Hi, I'm Suresh Gobi, A passionate Full-stack Developer based in Kandy, Sri Lanka.</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="LinkedIn">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://github.com/" target="_blank" rel="noopener" aria-label="GitHub">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
          <div class="col-sm">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Dr._Bhimrao_Ambedkar.jpg" alt="Image Description" class="pro-img">
          </div>
        </div>
      </div>
      <div>
        <h5>Tech Stack | </h5>
      </div>
    </div>
</section>



  
  
<section id="experience">...</section>
<section id="projects">...</section>
<section id="skills">...</section>
<section id="education">...</section>
<section id="resume">...</section>
