.center-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}
.modal-backdrop.show {
  opacity: 0.7; /* Adjust the opacity as needed */
  background-color: black;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
}

.modal {
  z-index: 1050; /* Higher than default value */
}

.modal-content{
  width: 40%;
  border-radius: 10px;
  background-image: url('../../../assets/images/layered-steps-haikei-colour.svg');
  background-repeat: no-repeat;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.form-group{
  padding: 5px;
  color: white;
}
.modal-title{
  color: white;
}
hr{
  color: white;
}
.modal-footer{
  margin: 5px;
}
.close{
  size: 100px;
  color: white;
  cursor: pointer;
}

.close:hover{
  color: blueviolet;
}

/*Mobile Responsive*/
@media (max-width: 767px) {
  .modal-content{
    width: 100%;
  }
}